.container{
    background-color: rgb(247, 242, 242);
    padding: 20px;
    display: flex;
    height: 800px;
    justify-content: center
    ;
       
    }
    .item1{
        background-color: white;
        color: rgb(141, 135, 135);
        padding: 10px ;
        padding-right: 10px;
        height: 90px;
        width: 150px;
        border: 1px solid black;
        margin: 40px;
        font-weight: bolder;
        text-align: center;
        word-spacing: 10px;
        font-size: 25px;
        
        
    }
    .item2{
        background-color: white;
        color: rgb(141, 135, 135);
        padding: 10px 15px;
        height: 90px;
        width: 125px;
        border: 1px solid black;
        margin: 40px;
        font-weight: bolder;
        text-align: center;
        word-spacing: 10px;
        font-size: 25px;
    }
    .item3{
        background-color: white;
        color: rgb(141, 135, 135);
        padding: 10px 15px;
        height: 100px;
        width: 160px;
        border: 1px solid black;
        margin: 40px;
        font-weight: bolder;
        text-align: center;
        word-spacing: 10px;
        font-size: 25px;
    }
    .item1 span1{
        background-color: rgb(63, 178, 63);
        color: white;
        animation: changeBg 10s linear infinite;

    }
    @keyframes changeBg {
        0%{
            background-color: green;
        }
        20%{
            background-color: yellow;
        }
        40%{
            background-color: red;
        }
        60%{
            background-color: pink;
        }
        80%{
            background-color: purple;
        }
        100%{
            background-color: blue;
        }
    }
    .item2 span2{
        background-color: aqua;
        color: white;
        animation: change 10s linear infinite;
        
       
    }
    @keyframes change {
        0%{
            background-color: blue;
        }
        20%{
            background-color: purple;
        }
        40%{
            background-color: green;
        }
        60%{
            background-color: pink;
        }
        80%{
            background-color: slateblue;
        }
        100%{
            background-color: brown;
        }
    }
    .item3 span3{
        background-color: red;
        color: white;
        animation: changeB 10s linear infinite;
    }
    @keyframes changeB {
        0%{
            background-color: red;
        }
        20%{
            background-color: green;
        }
        40%{
            background-color: yellow;
        }
        60%{
            background-color: rgb(92, 47, 47);
        }
        80%{
            background-color:  lightgreen;
        }
        100%{
            background-color:  orange;
        }
    }